@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">
        <a href="/api/route?source=YYZ&destination=YVR">Click here to test the api</a>
    </h1>
</div>